# All page request goes to index.php as a $_GET["url"] parameter
# Example: website.com/hello/world
# will set $_GET["url"] to "hello/world"

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !\.php$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l

RewriteRule ^(.*)$ index.php [L]